@import '_colors';
@import '_mixins';

.dictionary-block {
  width: calc(620px + 25px + 50px);
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.quiz-link {
  @include link;
  background-image: url(./../../../assets/svg/quiz.svg);
}

@include form;

.button {
 @include button;

 &_add {
  background-image: url(./../../../assets/svg/plus_icon.svg);
 }
}
