//colours
$white: #fff;
$total-black: #000;
$gray-button: #303030;
$gray-text: #1f1f1d;
//width and height
$height-full: 100%;
$width-full: 100%;
$width-half: 50%;
//font and text
$kanit: 'Kanit', sans-serif;


