<div class="dictionary-block">
  <a routerLink="/quiz" class="quiz-link"></a>
  <form class="form" [formGroup]="addWordForm" (submit)="onSubmit()">
    <div class="form__error-container">
      <div class="form__error" *ngIf="isControlInvalid('inputWord')">
        <p class="form__error-text">Please enter a word in English</p>
      </div>
      <div class="form__error form__error_right" *ngIf="isControlInvalid('outputWord')">
        <p class="form__error-text">Please enter a translation in Russian</p>
      </div>
    </div>
    <input class="form__input" placeholder="English word" formControlName="inputWord" />
    <input class="form__input" placeholder="Russian translation" formControlName="outputWord" />
    <button class="button button_add"></button>
  </form>
  <div class="dictionary-block__list">
    <div class="dictionary-block__item" *ngFor="let word of allCouples; let i = index">
      <app-couple-words (onChanged)="onChanged($event)" [inputWord]="word.inputWord" [outputWord]="word.outputWord" [index]="i"></app-couple-words>
    </div>
  </div>
</div>
