<div class="dictionary-block">
  <a routerLink="/quiz" class="quiz-button"></a>
  <form class="form" [formGroup]="addWordForm" (submit)="onSubmit()">
    <label for="">English word</label>
    <input class="form__input" type="text" formControlName="inputWord"/>
    <div class="dictionary-block__error dictionary-block__error-input-word" *ngIf="isControlInvalid('inputWord')">
      Please enter a word in English
    </div>
    <label for="">Russian translation</label>
    <input class="form__input" type="text" formControlName="outputWord"/>
    <div class="dictionary-block__error dictionary-block__error-output-word" *ngIf="isControlInvalid('outputWord')">
      Please enter a translation in Russian
    </div>
    <button class="button button_add" type="submit">+</button>
  </form>
  <div class="dictionary__list" *ngFor="let word of allCouples; let i = index">
    <app-couple-words (onChanged)="onChanged($event)" [inputWord]="word.inputWord" [outputWord]="word.outputWord" [index]="i"></app-couple-words>
  </div>
</div>
