html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

header, .content, footer {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

header {
	height: 250px;
	background: linear-gradient(
		180deg, rgba(8,57,122,1) 50%, 
		rgba(15,106,219,1) 50%);
}

.content {
	background-color: pink;
}

footer {
	background-color: rgba(8,57,122,1);
}